* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
.container {
    max-width:1000px;
    padding:20px;
    margin:0 auto;
  }
.opciones{
    margin:0 auto;
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
}

button {
    cursor: pointer;
    color: white;
    background-color: black;
    font-weight: 600;
    font-family: 'Verdana';
    border: none;
    -webkit-appearance: none;
}
button:hover {
    color:black;
    background-color: gray;
}
.imagen{
    padding: 20px;
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
}
.imagen>img{
    width: 420px;
    height: 460px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(220, 220, 220);
}
@media screen and (max-width: 600px){
    .container{
        align-items: center;
    }
    .opciones{
        flex-direction: column;
        font-size: 50px;
        text-align: center;
    }   
    
}